:root {
    --background-color: #fc5296;
    --background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    --default-height: calc(100vh - 400px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    background-image: var(--background-image);
    color: #eee;
    height: 100vh;
    width: 100vw;
}

[data-app-container] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    /* border: brown 3px solid; */
    /* padding: 5px; */
    /* margin-top: 15px; */
    /* height: 100px; */
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    min-height: 100px;
    width: 100%;
}

menu {
    /* border: rgb(221, 200, 82) 3px solid; */
    display: flex;
    min-height: 100px;
    width: 100%;
    /* width: 90%; */
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    flex-direction: column;
}

[data-favorite-container] {
    /* border: rgb(78, 72, 33) 3px solid; */
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    overflow-x: scroll;
    /* margin: 10px; */
}

[data-favorite-container] button {
    cursor: pointer;
    background-color: rgb(150, 194, 230);
    min-height: 80px;
    min-width: 80px;
    /* margin: 0 10px; */
    border: #eee 3px solid;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

main {
    /* border: rgb(19, 128, 19) 3px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: var(--default-height);
    min-height: var(--default-height);
}

[data-card-board] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    width: 80%;
    /* height: 500px; */
    /* padding: 30px; */
    /* margin: 10px; */
    /* flex-wrap: wrap; */
    /* border: rgb(17, 9, 4) 2px solid; */
    gap: 10px;
    overflow-y: scroll;
}

[data-card-layout] {
    padding: 15px;
    /* margin: 10px; */
    border: steelblue 1px solid;
    border-radius: 7px;
    min-height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: dimgray -7px 5px 3px;
}

[data-menu-card] {
    /* border: rgb(78, 39, 122) 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20 0px; */
    gap: 10px;
    width: 100%;
    min-height: 100px;
}

[data-menu-card] button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border: #eee 3px solid;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

footer {
    /* border: rgb(19, 128, 19) 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}