* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-app-container] {
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    color: #eee;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    position: top;
    padding: 10px;
    margin-top: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
}

menu {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

menu>button {
    background-color: rgb(150, 194, 230);
    height: 80px;
    width: 80px;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

main {
    display: flex;
    flex-direction: column;
    height: 612px;
}

[data-card-board] {
    /* height: 100%; */
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

[data-card-layout] {
    padding: 5px;
    margin: 5px;
    border: steelblue 1px solid;
    border-radius: 7px;
    min-height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}